[program:{{ application_name }}]
command = {{ virtualenv_path }}/bin/gunicorn_start
user = {{ deploy_user }}
stdout_logfile = {{ application_log_file }}
redirect_stderr = true

[program:twitterbot]
command = NEW_RELIC_CONFIG_FILE={{ project_root_path }}/newrelic.ini newrelic-admin run-python manage.py start_twitterbot
user = {{ deploy_user }}
