[program:{{ application_name }}]
command = {{ virtualenv_path }}/bin/gunicorn_start
user = {{ deploy_user }}
stdout_logfile = {{ application_log_file }}
redirect_stderr = true

[program:twitterbot]
command = {{ virtualenv_path }}/bin/twitterbot_start
user = {{ deploy_user }}
