#!/usr/bin/env bash

echo "Starting Twitterbot as `whoami`"

cd {{ project_path }}
. {{ virtualenv_path }}/bin/activate

exec {{ project_root_path }}/cpdb/manage.py start_twitterbot --settings={{django_settings_module}}
