#!/usr/bin/env bash

NEW_RELIC_CONFIG_FILE="{{ project_root_path }}/newrelic.ini"

echo "Starting Twitterbot as `whoami`"

cd {{ project_path }}
. {{ virtualenv_path }}/bin/activate

exec {{ newrelic_admin_path }} run-python {{ project_root_path }}/cpdb/manage.py start_twitterbot
