ansible
.circleci
.github
.gitsecret
.terraform
.vagrant
.vscode
.git
docker
docs
htmlcov
*.sql
*.secret
cpdb/static
cpdb/staticfiles
cpdb/media
cpdb/data_importer/cleaned_data
cpdb/data_importer/original_data
**/*.pyc
