# Environment variables
.env

# Compiled python files
*.pyc

# sqlite database
*.sqlite3
*.sql

# For pyCharm dev
.project
.idea

# Coverage stuff
.coverage

# Vagrant
.vagrant/
vagrant.retry
staging.retry
production.retry
*.retry

staticfiles/
.python-version

cpdb/static/
cpdb/media/

.DS_Store

# Newrelic config
newrelic.ini
csv/*.csv
ansible/external-roles

# Just to be extra careful:
*vault_pass*

data_source
.ipynb_checkpoints

twitterbot-nl-api.json
twitterbot_newrelic.ini

.tmp/

test_visual_token_media
visual_token_media

data_report/
cpdb/data_importer/cleaned_data/
cpdb/data_importer/original_data/

Output/
.vscode
Pipfile*
/htmlcov/
.gitsecret/keys/random_seed

# Terraform secrets
prod.env
local.env
staging.env
kubernetes/secrets-staging.yml
kubernetes/secrets-production.yml

staging-pg-credentials.json
