# Environment variables
.env

# Compiled python files
*.pyc

# sqlite database
*.sqlite3

# For pyCharm dev
.project
.idea

# Coverage stuff
.coverage

# Vagrant
.vagrant/
vagrant.retry
staging.retry
production.retry

staticfiles/
.python-version

cpdb/static/
cpdb/media/

# Newrelic config
newrelic.ini
csv/*.csv
