apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: gunicorn
  labels:
    app: gunicorn
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: gunicorn
    spec:
      containers:
      - name: gunicorn
        image: cpdbdev/backend:${BACKEND_IMAGE_TAG}
        imagePullPolicy: Always
        resources:
          requests:
            cpu: 1
            memory: 1Gi
        env:
        - name: DB_NAME
          value: "${POSTGRES_APP_DB}"
        - name: DB_USER
          value: "${POSTGRES_APP_USER}"
        - name: DB_PASSWORD
          value: "${POSTGRES_APP_PASSWORD}"
        - name: DB_HOST
          value: pg-proxy
        - name: GUNICORN_WORKERS
          value: "2"
        - name: DJANGO_SETTINGS_MODULE
          valueFrom:
            secretKeyRef:
              name: django
              key: setting-module
        - name: DJANGO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: django
              key: secret-key
        - name: MAILCHIMP_API_KEY
          valueFrom:
            secretKeyRef:
              name: mailchimp
              key: api-key
        - name: MAILCHIMP_USER
          valueFrom:
            secretKeyRef:
              name: mailchimp
              key: user
        - name: AZURE_STORAGE_ACCOUNT_NAME
          valueFrom:
            secretKeyRef:
              name: azure-storage-account
              key: name
        - name: AZURE_STORAGE_ACCOUNT_KEY
          valueFrom:
            secretKeyRef:
              name: azure-storage-account
              key: key
        - name: TWITTERBOT_STORAGE_ACCOUNT_NAME
          valueFrom:
            secretKeyRef:
              name: twitterbot-storage-account
              key: name
        - name: TWITTERBOT_STORAGE_ACCOUNT_KEY
          valueFrom:
            secretKeyRef:
              name: twitterbot-storage-account
              key: key
        - name: DATA_PIPELINE_STORAGE_ACCOUNT_NAME
          valueFrom:
            secretKeyRef:
              name: datapipeline-storage-account
              key: name
        - name: DATA_PIPELINE_STORAGE_ACCOUNT_KEY
          valueFrom:
            secretKeyRef:
              name: datapipeline-storage-account
              key: key
        - name: DOCUMENTCLOUD_USER
          valueFrom:
            secretKeyRef:
              name: documentcloud
              key: user
        - name: DOCUMENTCLOUD_PASSWORD
          valueFrom:
            secretKeyRef:
              name: documentcloud
              key: password
        - name: AIRTABLE_API_KEY
          valueFrom:
            secretKeyRef:
              name: airtable
              key: api-key
        - name: AIRTABLE_PROJECT_KEY
          valueFrom:
            secretKeyRef:
              name: airtable
              key: project-key
        - name: TWITTER_CONSUMER_KEY
          valueFrom:
            secretKeyRef:
              name: twitter-cpdpbot-app
              key: consumer-key
        - name: TWITTER_CONSUMER_SECRET
          valueFrom:
            secretKeyRef:
              name: twitter-cpdpbot-app
              key: consumer-secret
        - name: TWITTER_APP_TOKEN_KEY
          valueFrom:
            secretKeyRef:
              name: twitter-cpdpbot-app
              key: app-token-key
        - name: TWITTER_APP_TOKEN_SECRET
          valueFrom:
            secretKeyRef:
              name: twitter-cpdpbot-app
              key: app-token-secret
        - name: MAILGUN_API_KEY
          valueFrom:
            secretKeyRef:
              name: mailgun
              key: api-key
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: "/google_creds/google-nl-api.json"
        - name: PROFILER
          value: "0"
        - name: PAPERTRAIL_ENDPOINT
          valueFrom:
            secretKeyRef:
              name: papertrail
              key: endpoint
        - name: PAPERTRAIL_PORT
          valueFrom:
            secretKeyRef:
              name: papertrail
              key: port
        - name: AWS_ACCESS_KEY_ID
          value: "${AWS_ACCESS_KEY_ID}"
        - name: AWS_SECRET_ACCESS_KEY
          value: "${AWS_SECRET_ACCESS_KEY}"
        - name: AWS_DEFAULT_REGION
          value: "${AWS_DEFAULT_REGION}"
        - name: GA_TRACKING_ID
          value: "${GA_TRACKING_ID}"
        - name: CLICKY_TRACKING_ID
          value: "${CLICKY_TRACKING_ID}"
        - name: CLICKY_SITEKEY_ADMIN
          value: "${CLICKY_SITEKEY_ADMIN}"

        ports:
        - containerPort: 80
        volumeMounts:
        - name: google-creds
          mountPath: "/google_creds"
          readOnly: true
      volumes:
      - name: google-creds
        secret:
          secretName: google-nl-api-credentials
---
apiVersion: v1
kind: Service
metadata:
  name: gunicorn
spec:
  type: LoadBalancer
  ports:
  - port: 80
  selector:
    app: gunicorn
