#!/bin/bash

export PYENV_ROOT="/pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"

if which pyenv > /dev/null; then eval "$(pyenv init -)"; fi

pyenv activate {{ application_name }}
jupyter-notebook --no-browser --notebook-dir='{{ application_home }}' --config='/home/{{ deploy_user }}/.jupyter/jupyter_notebook_config.py'
